@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css);

html, body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #eee;
}

#schedule-wrapper {
	width:50vw;
	height: 100vh;
	/*
	background-color: #f00;
	*/
	display: inline-block;
	float: left;
}
h1 {
	margin-left: 5vw;
}
h1 small {
	font-size: 0.5em;
	float: right;
}
.schedule-item {
	border-radius: 1vw;
	padding: 1vw 1vw;
	margin: 1vw 1vw 1vw 5vw;
	width: calc(75% - 4vw);
	background-color: rgba(51,51,51, 0.8);
}
.schedule-item .date {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
	margin-bottom: 0.75em;
}
.schedule-item .date time {
	float: right;
}
.schedule-item .date i {
	float: right;
	margin-left: 0.5ch;
}
.schedule-item p {
	margin: 0;
	padding: 0;
}
.fab.fa-discord   { color: #7289DA; }
.fab.fa-twitch    { color: #9146FF; }
.fab.fa-twitter   { color: #1DA1F2; }
.fab.fa-youtube   { color: #FF0000; }
.fab.fa-patreon   { color: #FF424D; }
.fab.fa-tumblr    { color: #35465c; }
.fab.fa-instagram { color: #f00a75; }
